#include <dt-bindings/zmk/reset.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define SHORT 3
#define F24 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base_layer {
              label = " QWERTY";
            // -----------------------------------------------------------------------------------------
            // | TAB |  Q  |  W  |  E  |  R  |  T  |          |  Y  |  U   |  I  |  O  |  P  |BKSP |
            // |MLY1 |  A  |  S  |  D  |  F  |  G  |          |  H  |  J   |  K  |  L  |  ;  | ENT |
            // |LSHFT|  Z  |  X  |  C  |  V  |  B  |          |  N  |  M   |  ,  |  .  |  /  |RSHFT|
            //                   | CTL | WIN | ALT |          | MLY2 | RSE  | [ |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E             &kp R         &kp T           &kp Y  &kp U      &kp I             &kp O    &kp P     &kp BACKSPACE
&mo 1      &kp A  &kp S  &kp D             &kp F         &kp G           &kp H  &kp J      &kp K             &kp L    &kp SEMI  &kp ENTER
&kp LSHFT  &kp Z  &kp X  &kp C             &kp V         &kp B           &kp N  &kp M      &kp COMMA         &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                         &kp LEFT_CONTROL  &kp LEFT_WIN  &kp LEFT_ALT    &mo 2  &kp SPACE  &kp LEFT_BRACKET
            >;
        };

        Lower_layer {
          label = " LOWER";
            // -----------------------------------------------------------------------------------------
            // | TAB | SLK | HM  | UP  | PgUp| BTNP|          | N7  | N8  | N9  |  -  |  /  |FWSP |
            // | TL0 | CLK | LFT |LCLK | RGT | BTDP|          | N4  | N5  | N6  | +   |  *  | ENT |
            // |LSHFT| INS | END | DWN | PgDn| BTCP|          | N1  | N2  | N3  | INT | NLK |RSHFT|
            //                   | CTL | WIN | ALT |          | TL1 | SPC | ALT |

            bindings = <
&kp ESCAPE      &kp SCROLLLOCK  &kp HOME        &kp UP_ARROW      &kp PAGE_UP      &bt BT_NXT      &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_SUBTRACT  &kp KP_DIVIDE    &kp DELETE
&to 0           &kp CAPSLOCK    &kp LEFT_ARROW  &mkp LCLK         &kp RIGHT_ARROW  &bt BT_CLR      &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS      &kp KP_MULTIPLY  &kp ENTER
&kp LEFT_SHIFT  &kp INSERT      &kp LC(END)     &kp DOWN          &kp PAGE_DOWN    &bt BT_PRV      &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_ENTER     &kp KP_NUMLOCK   &kp RIGHT_SHIFT
                                                &kp LEFT_CONTROL  &kp LEFT_WIN     &kp LEFT_ALT    &to 1            &kp KP_NUMBER_0  &kp KP_DOT
            >;
        };

        Raise_layer {
          label = " RAISE";
            // -----------------------------------------------------------------------------------------
            // | F1  | F2  | F3  | F4  | F5  | F6  |          | F7  | F8  | F9  | F10 | F11 | F12 |
            // | TL2 |  1  |  2  |  3  |  4  |  5  |          |  6  |  7  |  8  |  9  |  0  | ENT |
            // |LSHFT|  |  |  '  |  ¿  |  +  |  {  |          |  }  |PLAY |NEXT |VOLUP|VOLDN|RSHFT|
            //                   | CTL | WIN | ALT |          | TL0 |PRSC |PAUSE|

            bindings = <
&kp F1     &kp F2        &kp F3        &kp F4            &kp F5             &kp F6              &kp F7         &kp F8            &kp F9           &kp F10          &kp F11            &kp F12
&to 2      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3      &kp NUMBER_4       &kp NUMBER_5        &kp NUMBER_6   &kp NUMBER_7      &kp NUMBER_8     &kp NUMBER_9     &kp NUMBER_0       &kp ENTER
&kp LSHFT  &kp GRAVE     &kp MINUS     &kp EQUAL         &kp RIGHT_BRACKET  &kp SINGLE_QUOTE    &kp BACKSLASH  &kp K_PLAY_PAUSE  &kp K_NEXT       &kp C_VOLUME_UP  &kp C_VOLUME_DOWN  &kp RIGHT_SHIFT
                                       &kp LEFT_CONTROL  &kp LEFT_WIN       &kp LEFT_ALT        &to 0          &kp PRINTSCREEN   &kp PAUSE_BREAK
            >;
        };

        Short_layer {
          label = " SHORT";
            bindings = <
&none         &none  &none  &none  &none        &none          &none   &none  &none  &none  &none  &none
&none         &none  &none  &none  &none        &none          &none   &none  &none  &none  &none  &none
&hm LCTRL F4  &none  &none  &none  &hm LCTRL C  &hm LCTRL V    &trans  &none  &none  &none  &none  &none
                            &none  &none        &none          &none   &none            &none
            >;
        };

        F24_layer {
          label = " F24";
            bindings = <
&kp F1       &kp F2      &kp F3   &kp F4   &kp F5   &kp F6     &kp F7   &kp F8   &kp F9   &kp F10  &kp F11     &kp F12
&kp F13      &kp F14     &kp F15  &kp F16  &kp F17  &kp F18    &kp F19  &kp F20  &kp F21  &kp F22  &kp F23     &trans
&bootloader  &sys_reset  &none    &none    &none    &none      &none    &none    &none    &none    &sys_reset  &bootloader
                                  &none    &none    &none      &none    &none    &none
            >;
        };
    };
};




